/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

.start-btn {
  border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
border: none;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}

.start-btn:not(:disabled):hover {
  background: #6c8cff;
}


.start-btn:not(:disabled):active {
 background: #4e75ff;
}

.start-btn:disabled {
  background: #cfcfcf;
color: #989898;
}

.input-start {
  border: 1px solid #808080;
border-radius: 4px;
width: 272px;
height: 40px;
}

.input-start:active {
  border: 1px solid #4e75ff;
}

.value {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
margin-top: 32px;

}

.label {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
}

.timer{
  display: flex;
  gap: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

