/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

.start-btn {
  border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
border: none;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
}

.start-btn:not(:disabled):hover {
  background: #6c8cff;
}


.start-btn:not(:disabled):active {
 background: #4e75ff;
}

.start-btn:disabled {
  background: #cfcfcf;
color: #989898;
}

.input-start {
  border: 1px solid #808080;
border-radius: 4px;
width: 272px;
height: 40px;
}

.input-start:active {
  border: 1px solid #4e75ff;
}

.value {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
margin-top: 32px;

}

.label {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
}

.timer{
  display: flex;
  gap: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}




        /* SNACKBAR */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-snack {
  border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
padding-left: 16px ;
box-sizing: border-box;
}

.input-snack:hover {
  border-color:  #000;
}

.input-snack:active {
  border-color:  #4e75ff;
}

.fiel-snack{
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 360px;
  height: 65px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
 box-sizing: border-box;
}

.fiel-snack label {
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 8px;
}

.fiel-snack:hover {
  stroke: #000;
}

.btn-snack {
  border: none;
  border-radius: 8px;
/* padding: 8px 16px; */
width: 360px;
height: 40px;
background: #4e75ff;
color: #ffffff;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
margin-top: 24px;
cursor: pointer;
}

.btn-snack:hover {
  background: #6c8cff;
}